@inherits LayoutComponentBase
<div class="page">
    <main>
        @Body
    </main>
    <!-- 📌 Chân trang -->
    <footer class="bg-[#343a40] p-12 text-center text-white">
        <p>© 2025 SweetCake. All Rights Reserved.</p>
    </footer>
</div>
